
Saved/Config/Windows/MagicLeap.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Hardware.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorScriptingUtilities.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Backup/Jog_Downhill_Fwd_2020-10-10-09-21-07.uasset
Saved/Backup/Jog_Fwd_2020-10-10-09-21-07.uasset
Saved/Backup/Jog_Fwd_CircleLeft_2020-10-10-09-21-08.uasset
Saved/Backup/Jog_Fwd_CircleRight_2020-10-10-09-21-08.uasset
Saved/Backup/Jog_Fwd_Start_2020-10-10-09-21-08.uasset
Saved/Backup/Jog_Fwd_Stop_2020-10-10-09-21-08.uasset
Saved/Backup/Jog_Uphill_Fwd_2020-10-10-09-21-08.uasset
Saved/Backup/JogFwdSlopeLean_2020-10-10-09-21-07.uasset
Saved/Backup/Jump_Apex_2020-10-10-09-21-08.uasset
Saved/Backup/Jump_Preland_2020-10-10-09-21-08.uasset
Saved/Backup/Jump_Recovery_Additive_2020-10-10-09-21-08.uasset
Saved/Backup/Jump_Start_2020-10-10-09-21-08.uasset
Saved/Backup/LevelStart_2020-10-10-09-21-08.uasset
Saved/Backup/LevelStart_Montage_2020-10-10-09-21-08.uasset
Saved/Backup/Morigesh_2_2020-10-10-09-55-07.uasset
Saved/Backup/Morigesh_2_2020-10-10-10-27-06.uasset
Saved/Backup/Morigesh_AnimBlueprint_2020-10-10-09-21-08.uasset
Saved/Backup/Morigesh_NorthernMysticAntlers_Skeleton_2020-10-10-08-57-50.uasset
Saved/Backup/Morigesh_Skeleton_2020-10-10-09-21-08.uasset
Saved/Backup/morigeshbody2_2020-10-10-10-27-32.uasset
Saved/Backup/Morigeshupper_2020-10-10-09-52-41.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-0BA2A7AC47B9A0420FE83290E0570BF3/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-10C4DADC4E224A2623E77992EC81EBC2/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-1CAED7E340DB87BE403A56B39A7D416C/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-84EB9FE049D4E188549D45A3A1F8AAEA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-ADAC35AC40B8F8B5608AA2A7F9BAEE20/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-BC4150E3475E667A569AA49AC1B83DAC/CrashReportClient.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Logs/TheGreenSpirit.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-15.57.56.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-15.24.07.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-15.05.33.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-04.51.15.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-04.45.44.log
Saved/Config/Windows/VariantManagerContent.ini
Saved/Config/Windows/UnrealInsightsSettings.ini
Saved/Config/Windows/Synthesis.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/Windows/RuntimeOptions.ini
Saved/Config/Windows/PostSplashScreen.ini
Saved/Config/Windows/PhysXVehicles.ini
Saved/Config/Windows/Paper2D.ini
Saved/Config/Windows/OculusVR.ini
Saved/Config/Windows/Niagara.ini
Saved/Config/Windows/MagicLeapLightEstimation.ini
Saved/Backup/items_2020-10-10-10-27-32.uasset
Saved/Backup/Idle_AO_RU_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_RD_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_RC_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_LU_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_LD_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_LC_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_CU_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_CD_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AO_CC_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_AimOffset_2020-10-10-09-21-06.uasset
Saved/Backup/Idle_2020-10-10-09-21-07.uasset
Saved/Backup/Floor_400x400_2020-10-09-22-49-35.uasset
Saved/Backup/deathlocs_2020-10-10-10-18-08.uasset
Saved/Backup/deathers_2020-10-10-09-56-08.uasset
Saved/Backup/cabezabrazos_2020-10-10-09-55-07.uasset
Saved/Backup/AnimBP_Morigesh_Physics_Subgraph_2020-10-10-09-21-06.uasset
Saved/Backup/Ability_E_2020-10-10-09-21-06.uasset
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/Game/Moriexport/Meshes/Morigesh_2_Auto1.uasset
Saved/Autosaves/Game/Moriexport/materials/morigeshbody2_Auto1.uasset
Saved/Autosaves/Game/Moriexport/materials/items_Auto1.uasset
Saved/Autosaves/Game/Moriexport/materials/deathers_Auto1.uasset
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/WorldState/3196843789.json
Saved/Config/WorldState/1940912987.json
Saved/Config/CrashReportClient/UE4CC-Windows-0110B88D4DC5361A43C873951F0AA9CE/CrashReportClient.ini
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-11-24-57.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-11-19-17.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-11-12-27.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-11-04-59.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-10-58-52.uasset
Saved/Backup/Level1GameJam_ART_2020-10-10-11-24-57.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-11-19-17.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-11-12-27.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-11-04-58.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-10-58-52.umap
Saved/Backup/Level1GameJam_2020-10-10-11-27-02.umap
Saved/Backup/Level1GameJam_2020-10-10-11-11-44.umap
Saved/Backup/Level1GameJam_2020-10-10-11-04-54.umap
Saved/Backup/Level1GameJam_2020-10-10-10-58-46.umap
Saved/Backup/Floor_400x400_2020-10-10-10-46-53.uasset
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/Editor.ini
Intermediate/CachedAssetRegistry.bin
Content/StarterContent/Maps/StarterMap_BuiltData.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
Saved/Logs/TheGreenSpirit-backup-2020.10.10-18.35.36.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-18.15.16.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-17.27.42.log
Saved/Crashes/UE4CC-Windows-5ECE07D746F3D9B198947C86FBD17605_0001/UE4Minidump.dmp
Saved/Crashes/UE4CC-Windows-5ECE07D746F3D9B198947C86FBD17605_0001/TheGreenSpirit.log
Saved/Crashes/UE4CC-Windows-5ECE07D746F3D9B198947C86FBD17605_0001/CrashReportClient.ini
Saved/Crashes/UE4CC-Windows-5ECE07D746F3D9B198947C86FBD17605_0001/CrashContext.runtime-xml
Saved/Config/LevelState/3196843789.json
Saved/Config/CrashReportClient/UE4CC-Windows-A08D74E747D3D2585984C591B59171D8/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5ECE07D746F3D9B198947C86FBD17605/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-3B7C57D04E6D6A3380FE16B38A05B777/CrashReportClient.ini
Saved/Backup/MI_Landscape_2020-10-10-12-34-48.uasset
Saved/Backup/MI_Landscape_2020-10-10-12-21-33.uasset
Saved/Backup/MI_Landscape_2020-10-10-12-13-58.uasset
Saved/Backup/MI_Landscape_2020-10-10-11-57-53.uasset
Saved/Backup/M_Landscape_2020-10-10-12-27-06.uasset
Saved/Backup/M_Landscape_2020-10-10-12-13-19.uasset
Saved/Backup/M_Landscape_2020-10-10-12-07-09.uasset
Saved/Backup/M_Landscape_2020-10-10-11-54-46.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-12-35-27.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-12-30-15.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-12-19-33.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-12-14-25.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-12-00-08.uasset
Saved/Backup/Level1GameJam_ART_2020-10-10-12-35-27.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-12-30-15.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-12-19-33.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-12-14-25.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-12-00-08.umap
Saved/Backup/Level1GameJam_2020-10-10-12-04-15.umap
Saved/Backup/Ground02_OcclusionRoughnessMetallic_2020-10-10-12-35-31.uasset
Saved/Backup/Ground02_Normal_2020-10-10-12-35-31.uasset
Saved/Backup/Ground02_BaseColor_2020-10-10-12-35-31.uasset
Saved/Backup/Ground01_OcclusionRoughnessMetallic_2020-10-10-12-35-31.uasset
Saved/Backup/Ground01_Normal_2020-10-10-12-35-31.uasset
Saved/Backup/Ground01_BaseColor_2020-10-10-12-35-31.uasset
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/Game/Textures/Ground02_OcclusionRoughnessMetallic_Auto1.uasset
Saved/Autosaves/Game/Textures/Ground02_Normal_Auto1.uasset
Saved/Autosaves/Game/Textures/Ground02_BaseColor_Auto1.uasset
Saved/Autosaves/Game/Textures/Ground01_OcclusionRoughnessMetallic_Auto1.uasset
Saved/Autosaves/Game/Textures/Ground01_Normal_Auto1.uasset
Saved/Autosaves/Game/Textures/Ground01_BaseColor_Auto1.uasset
Intermediate/CachedAssetRegistry.bin
Content/MapGameJam/Level1GameJam.umap
Saved/Logs/TheGreenSpirit-backup-2020.10.10-19.43.21.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-18.37.44.log
Saved/Config/CrashReportClient/UE4CC-Windows-F8DB3F4E4C899378715406AF417A004A/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-12DBC6C54274F3590D4A24AF7CF7A6EE/CrashReportClient.ini
Saved/Backup/MI_Clean_Water_Translucent2_2020-10-10-14-19-56.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-14-20-22.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-14-15-05.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-14-09-02.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-14-02-46.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-13-55-08.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-13-48-34.uasset
Saved/Backup/Level1GameJam_ART_2020-10-10-14-20-22.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-14-15-04.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-14-09-02.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-14-02-46.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-13-55-08.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-13-48-34.umap
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Intermediate/CachedAssetRegistry.bin
Saved/Logs/TheGreenSpirit-backup-2020.10.10-20.21.00.log
Saved/Config/CrashReportClient/UE4CC-Windows-FB33A71E41E2A02E9F87068178220A3E/CrashReportClient.ini
Saved/Backup/SM_Poplar_tree_05_Optimised_2020-10-10-14-42-08.uasset
Saved/Backup/MI_Poplar_leaves_2020-10-10-14-42-08.uasset
Saved/Backup/MI_Maple_leaves_2020-10-10-14-42-08.uasset
Saved/Backup/MI_Clean_Water_Translucent_Inst_2020-10-10-14-31-46.uasset
Saved/Backup/MI_Clean_Water_Translucent_2020-10-10-14-31-46.uasset
Saved/Backup/M_Clean_Water_Translucent_2020-10-10-14-31-46.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-14-42-12.uasset
Saved/Backup/Level1GameJam_ART_2020-10-10-14-42-11.umap
Saved/Backup/Level1GameJam_2020-10-10-14-31-39.umap
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Backup/DestructableObjectsTest_2020-10-10-15-50-55.umap
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-15-50-55.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-6BAD012E487BE84AAE90D6A7ABCC3D05/CrashReportClient.ini
Saved/Config/WorldState/2646245516.json
Saved/Logs/TheGreenSpirit-backup-2020.10.10-20.42.56.log
Saved/Logs/TheGreenSpirit-backup-2020.10.10-21.54.48.log
Saved/Config/Windows/ApexDestruction.ini
Saved/Config/CrashReportClient/UE4CC-Windows-AF8F0BF146AA914B01EDD6BCC289138E/CrashReportClient.ini
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-16-47-27.uasset
Saved/Backup/DestructableObjectsTest_2020-10-10-16-47-26.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-16-08-35.umap
Saved/Backup/DestructableHouse01_DM_2020-10-10-16-04-25.uasset
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Saved/Autosaves/Game/MapGameJam/DestructableObjectsTest_Auto1.umap
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/Game/Blueprints/Destructible_Auto1.uasset
Saved/Autosaves/Game/MapGameJam/DestructableObjectsTest_Auto2.umap
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Backup/Barn01_DM_2020-10-10-20-15-34.uasset
Saved/Backup/Barn_2020-10-10-20-15-35.uasset
Saved/Backup/Barn_DM_2020-10-10-20-16-01.uasset
Saved/Backup/DestructableHouse01_DM_2020-10-10-17-02-54.uasset
Saved/Backup/DestructableHouse01_DM_2020-10-10-17-16-40.uasset
Saved/Backup/DestructableHouse01_DM_2020-10-10-19-42-49.uasset
Saved/Backup/DestructableHouse01_DM_2020-10-10-20-15-57.uasset
Saved/Backup/DestructableObjectsTest_2020-10-10-17-14-29.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-17-27-03.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-17-38-46.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-17-46-58.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-17-58-59.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-18-09-00.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-18-26-06.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-18-37-40.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-18-42-49.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-18-50-29.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-19-41-01.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-19-47-25.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-19-54-47.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-20-01-20.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-20-10-42.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-20-21-39.umap
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-17-14-29.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-17-27-03.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-17-38-46.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-17-46-58.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-18-26-06.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-18-37-40.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-18-42-49.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-18-50-29.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-19-41-01.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-19-47-25.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-19-54-47.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-20-01-20.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-20-10-42.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-20-21-39.uasset
Saved/Backup/Destructible_2020-10-10-17-58-59.uasset
Saved/Backup/Destructible_2020-10-10-18-40-37.uasset
Saved/Backup/Destructible_Barn_2020-10-10-17-47-54.uasset
Saved/Backup/Destructible_Barn_2020-10-10-20-16-00.uasset
Saved/Backup/Destructible_granero_2020-10-10-17-20-55.uasset
Saved/Backup/Destructible_granero_2020-10-10-17-33-04.uasset
Saved/Backup/Destructible_granero_2020-10-10-17-38-50.uasset
Saved/Backup/Destructible_House01_2020-10-10-17-04-39.uasset
Saved/Backup/Destructible_House01_2020-10-10-19-42-49.uasset
Saved/Backup/Destructible_House01_2020-10-10-20-15-57.uasset
Saved/Backup/Destructible_House01_2020-10-10-20-24-41.uasset
Saved/Backup/Destructible_MainHouse_2020-10-10-19-43-29.uasset
Saved/Backup/Destructible_MainHouse_2020-10-10-19-48-35.uasset
Saved/Backup/Destructible_MainHouse_2020-10-10-20-14-13.uasset
Saved/Backup/Destructible_Shed_2020-10-10-18-40-37.uasset
Saved/Backup/Destructible_Shed_2020-10-10-20-15-52.uasset
Saved/Backup/Destructible_Silo_2020-10-10-20-04-30.uasset
Saved/Backup/Destructible_Silo_2020-10-10-20-15-48.uasset
Saved/Backup/Destructible_WaterTank_2020-10-10-20-21-52.uasset
Saved/Backup/granero01_DM_2020-10-10-17-23-04.uasset
Saved/Backup/granero01_DM_2020-10-10-17-34-18.uasset
Saved/Backup/House01_2020-10-10-17-38-04.uasset
Saved/Backup/House01_DM_2020-10-10-19-42-50.uasset
Saved/Backup/House01_DM_2020-10-10-20-15-30.uasset
Saved/Backup/MainHouse_2020-10-10-20-15-40.uasset
Saved/Backup/Shed01_DM_2020-10-10-20-15-26.uasset
Saved/Backup/Silo01_2020-10-10-20-15-21.uasset
Saved/Backup/StarterMap_BuiltData_2020-10-09-19-37-55.uasset
Saved/Backup/WaterTank_2020-10-10-20-15-40.uasset
Saved/Backup/WaterTank_DM_2020-10-10-20-26-05.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-380B09EC4D3E4D35D849C89F370493AD/CrashReportClient.ini
Saved/Logs/TheGreenSpirit-backup-2020.10.10-22.47.32.log
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/Game/MapGameJam/Level1GameJam_ART_Auto1.umap
Saved/Autosaves/Game/MapGameJam/Level1GameJam_ART_Auto2.umap
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Backup/BoxLarge_DM_2020-10-10-21-40-09.uasset
Saved/Backup/BoxMedium_DM_2020-10-10-21-40-03.uasset
Saved/Backup/BoxSmall_DM_2020-10-10-21-40-22.uasset
Saved/Backup/DestructableObjectsTest_2020-10-10-21-37-57.umap
Saved/Backup/DestructableObjectsTest_2020-10-10-21-48-57.umap
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-21-37-57.uasset
Saved/Backup/DestructableObjectsTest_BuiltData_2020-10-10-21-48-57.uasset
Saved/Backup/Destructible_BoxLarge_2020-10-10-21-42-29.uasset
Saved/Backup/Destructible_BoxMedium_2020-10-10-21-42-18.uasset
Saved/Backup/Destructible_BoxSmall_2020-10-10-21-41-55.uasset
Saved/Backup/Ground01_BaseColor_2020-10-10-21-51-48.uasset
Saved/Backup/Ground01_Normal_2020-10-10-21-51-48.uasset
Saved/Backup/Ground01_OcclusionRoughnessMetallic_2020-10-10-21-51-48.uasset
Saved/Backup/Level1GameJam_2020-10-10-11-04-47.umap
Saved/Backup/Level1GameJam_2020-10-10-11-36-13.umap
Saved/Backup/Level1GameJam_2020-10-10-11-59-08.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-20-38-55.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-20-51-07.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-21-01-07.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-21-35-34.umap
Saved/Backup/Level1GameJam_ART_2020-10-10-21-54-36.umap
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-20-38-55.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-21-35-34.uasset
Saved/Backup/Level1GameJam_ART_BuiltData_2020-10-10-21-54-37.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-3F9DEEAC44D74809BB3A9393FDD01C0B/CrashReportClient.ini
Saved/Logs/TheGreenSpirit-backup-2020.10.11-02.26.10.log
